.canteen1 .canteen1-card {
    background-color: #e92020 !important;
    cursor: pointer;
    border-radius: 20px !important;
}
.canteen1 .canteen1-card:hover {
    background-color: #e04444 !important;
}
.canteen1 .canteen1-card img {
    border-radius: 20px !important;
}
.color{
    color:aliceblue
}
.canteen1 a {
    text-decoration: none;
}